/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: none;

  font-family: 'Numans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 18px;
  color: #9e711e;
}

p {
  white-space: pre-line;
}

.title {
  color: #9e711e
}

body {
  background-color: #F8F7F4;
}

@media (min-width: 550px) {
  body {
    background-color: #FAFAF8;
  }
}

