/* Before Currency Signs */

@media (min-width: 550px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 71.3%;
  }
}
  
@media (min-width: 600px) {
  /* Before Currency Signs Left */    

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 74.3%;
  }
}
  
@media (min-width: 700px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 77.3%;
  }
}
  
@media (min-width: 800px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 79.3%;
  }
}
  
@media (min-width: 850px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 79.5%;
  }
}
  
@media (min-width: 950px) {
  /* Before Currency Signs Left */  

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 36.1%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 36.1%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 36.1%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 36.1%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 36.1%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
}
  
@media (min-width: 1000px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 37.4%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 37.4%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 37.4%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 37.4%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 37.4%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 80.8%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 80.8%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 80.8%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 80.8%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 80.8%;
  }
}
  
@media (min-width: 1100px) {
  /* Before Currency Signs Left */  

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 38.0%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 38.0%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 38.0%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 38.0%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 38.0%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 77.5%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 77.5%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 77.5%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 77.5%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 77.5%;
  }
}
  
@media (min-width: 1200px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 38.7%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 38.7%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 38.7%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 38.7%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 38.7%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 78.8%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 78.8%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 78.8%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 78.8%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 78.8%;
  }
}
  
@media (min-width: 1300px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 39.5%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 39.5%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 39.5%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 39.5%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 39.5%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 79.9%;
  }
}
  
@media (min-width: 1400px) {
  /* Before Currency Signs Left */  
    
  .price-1 > .service > .service-voor {
    position: absolute;
    left: 39.3%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 39.3%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 39.3%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 39.3%;
  }

  .price-9 > .service > .service-voor {
    position: absolute;
    left: 39.3%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 77.6%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 77.6%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 77.6%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 77.6%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 77.6%;
  }
}
  
@media (min-width: 1500px) {
  /* Before Currency Signs Left */ 
    
  .price-1 > .service > .service-voor {
    position: absolute;
    left: 40.2%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 40.2%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 40.2%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 40.2%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 40.2%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 78.7%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 78.7%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 78.7%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 78.7%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 78.7%;
  }
}
  
@media (min-width: 1600px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 40.7%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 40.7%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 40.7%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 40.7%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 40.7%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 79.8%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 79.8%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 79.8%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 79.8%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 79.8%;
  }
}
  
@media (min-width: 1700px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 40.9%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 40.9%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 40.9%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 40.9%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 40.9%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 80.4%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 80.4%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 80.4%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 80.4%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 80.4%;
  }
}
  
@media (min-width: 1800px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 41.5%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 41.5%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 41.5%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 41.5%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 41.5%;
  }
  
 /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 81.1%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 81.1%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 81.1%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 81.1%;
  }

  .price-10 > .service > .service-voor {
    position: absolute;
    left: 81.1%;
  }
}
  
@media (min-width: 1850px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 41.7%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 41.7%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 41.7%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 41.7%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 41.7%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 67.6%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 67.6%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 67.6%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 67.6%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 67.6%;
  }
}
  
@media (min-width: 1900px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 42.0%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 42.0%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 42.0%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 42.0%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 42.0%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 68.8%;
  }
  
 .price-4 > .service > .service-voor {
    position: absolute;
    left: 68.8%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 68.8%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 68.8%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 68.8%;
  }
}
  
@media (min-width: 2000px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 42.6%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 42.6%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 42.6%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 42.6%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 42.6%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 65.5%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 65.5%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 65.5%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 65.5%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 65.5%;
  }
}
  
@media (min-width: 2100px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 42.8%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 42.8%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 42.8%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 42.8%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 42.8%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 66.7%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 66.7%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 66.7%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 66.7%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 66.7%;
  }
}
  
@media (min-width: 2200px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 43.0%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 43.0%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 43.0%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 43.0%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 43.0%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 68.0%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 68.0%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 68.0%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 68.0%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 68.0%;
  }
}
  
@media (min-width: 2300px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 43.4%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 43.4%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 43.4%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 43.4%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 43.4%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 69.1%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 69.1%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 69.1%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 69.1%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 69.1%;
  }
}
  
@media (min-width: 2400px) {
  /* Before Currency Signs Left */

  .price-1 > .service > .service-voor {
    position: absolute;
    left: 43.5%;
  }
  
  .price-3 > .service > .service-voor {
    position: absolute;
    left: 43.5%;
  }
  
  .price-5 > .service > .service-voor {
    position: absolute;
    left: 43.5%;
  }
  
  .price-7 > .service > .service-voor {
    position: absolute;
    left: 43.5%;
  }
  
  .price-9 > .service > .service-voor {
    position: absolute;
    left: 43.5%;
  }
  
  /* Before Currency Signs Right */
  
  .price-2 > .service > .service-voor {
    position: absolute;
    left: 69.9%;
  }
  
  .price-4 > .service > .service-voor {
    position: absolute;
    left: 69.9%;
  }
  
  .price-6 > .service > .service-voor {
    position: absolute;
    left: 69.9%;
  }
  
  .price-8 > .service > .service-voor {
    position: absolute;
    left: 69.9%;
  }
  
  .price-10 > .service > .service-voor {
    position: absolute;
    left: 69.9%;
  }
}