/* Currency Signs */
    
@media (min-width: 550px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }

  .price-9 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 76.5%;
  }
}
  
@media (min-width: 600px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }

  .price-9 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 79.0%;
  }
}
      
@media (min-width: 700px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
}
  
@media (min-width: 800px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
}
  
@media (min-width: 850px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }

  .price-9 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }

  .price-4 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 83.8%;
  }
}
  
@media (min-width: 950px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 38.8%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 38.8%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 38.8%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 38.8%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 38.8%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 82.7%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 82.7%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 82.7%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 82.7%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 82.7%;
  }
}
  
@media (min-width: 1000px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 40.0%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 40.0%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 40.0%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 40.0%;
  }

  .price-9 > .service > .service-cur {
    position: absolute;
    left: 40.0%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 83.4%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 83.4%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 83.4%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 83.4%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 83.4%;
  }
}
  
@media (min-width: 1100px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 40.4%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 40.4%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 40.4%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 40.4%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 40.4%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 80.0%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 80.0%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 80.0%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 80.0%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 80.0%;
  }
}
  
@media (min-width: 1200px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 41.1%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 41.1%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 41.1%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 41.1%;
  }

  .price-9 > .service > .service-cur {
    position: absolute;
    left: 41.1%;
  }

  /* Currency Signs Right */

  .price-2 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }

  .price-4 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  } 

  .price-6 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }

  .price-8 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 81.1%;
  }
}
  
@media (min-width: 1300px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 41.8%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 41.8%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 41.8%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 41.8%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 41.8%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
}
  
@media (min-width: 1400px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 41.3%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 41.3%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 41.3%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 41.3%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 41.3%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 79.6%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 79.6%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 79.6%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 79.6%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 79.6%;
  }
}
  
@media (min-width: 1500px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 41.9%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 41.9%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 41.9%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 41.9%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 41.9%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 80.5%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 80.5%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 80.5%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 80.5%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 80.5%;
  }
}
  
@media (min-width: 1600px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 42.4%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 42.4%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 42.4%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 42.4%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 42.4%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 81.5%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 81.5%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 81.5%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 81.5%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 81.5%;
  }
}
  
@media (min-width: 1700px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 42.8%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 42.8%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 42.8%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 42.8%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 42.8%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 82.2%;
  }
}
  
@media (min-width: 1800px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 43.2%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 43.2%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 43.2%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 43.2%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 43.2%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 82.8%;
  }
}
  
@media (min-width: 1850px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 69.8%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 69.8%;
   }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 69.8%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 69.8%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 69.8%;
  }
}
      
@media (min-width: 1900px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 43.5%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
}
  
@media (min-width: 2000px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 43.9%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 43.9%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 43.9%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 43.9%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 43.9%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 66.8%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 66.8%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 66.8%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 66.8%;
  }

  .price-10 > .service > .service-cur {
    position: absolute;
    left: 66.8%;
  }
}
  
@media (min-width: 2100px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 44.1%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 44.1%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 44.1%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 44.1%;
  }

  .price-9 > .service > .service-cur {
    position: absolute;
    left: 44.1%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 68.1%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 68.1%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 68.1%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 68.1%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 68.1%;
  }
}
  
@media (min-width: 2200px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 44.3%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 44.3%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 44.3%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 44.3%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 44.3%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 69.3%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 69.3%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 69.3%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 69.3%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 69.3%;
  }
}
  
@media (min-width: 2300px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 44.7%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 44.7%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 44.7%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 44.7%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 44.7%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 70.4%;
  }
}
  
@media (min-width: 2400px) {
  /* Currency Signs Left */

  .price-1 > .service > .service-cur {
    position: absolute;
    left: 45.0%;
  }
  
  .price-3 > .service > .service-cur {
    position: absolute;
    left: 45.0%;
  }
  
  .price-5 > .service > .service-cur {
    position: absolute;
    left: 45.0%;
  }
  
  .price-7 > .service > .service-cur {
    position: absolute;
    left: 45.0%;
  }
  
  .price-9 > .service > .service-cur {
    position: absolute;
    left: 45.0%;
  }
  
  /* Currency Signs Right */
  
  .price-2 > .service > .service-cur {
    position: absolute;
    left: 71.4%;
  }
  
  .price-4 > .service > .service-cur {
    position: absolute;
    left: 71.4%;
  }
  
  .price-6 > .service > .service-cur {
    position: absolute;
    left: 71.4%;
  }
  
  .price-8 > .service > .service-cur {
    position: absolute;
    left: 71.4%;
  }
  
  .price-10 > .service > .service-cur {
    position: absolute;
    left: 71.4%;
  }
}